<h1> Let's Visit these Shops </h1>

<% @shop.each do |f| %>

<ul>
	<li>
		<a href='/shops/<%=f.id%>'> <%= f.shop_name%>
		<%= f.full_address %>
	</li>
</ul>

<% end %>

</br>
<%= link_to "Add New Shop", shops_new_path %>